.socials {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 12px;
}
.social {
    border-bottom: unset;
    background-image: unset;
}

.social>img {
    border: unset;
    width: 24px;
    height: 24px;
}

.footer {
    display: flex;
    border-top: 2px solid var(--primary-color);
    align-items: stretch;
    padding: 18px 9px;
    gap: 2em;
}

.copyright {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: stretch;
    font-size: 16px;
    gap: 1em;
}

.copyright-left {
    flex-wrap: nowrap;
}

.copyright-split {
    position: static;
    width: 0;
    border-right: 1px solid var(--primary-color);
    border-left: 1px solid var(--primary-color);
}

.copyright-right {
    flex-wrap: wrap;    
    vertical-align: middle;
}

.copyright a {
    border-bottom-width: 2px;
}

/* Mobile-specific adjustments */
@media (max-width: 937px) {
    .footer {
        flex-direction: column;
        justify-content: center;
        gap: 0;
        padding: 18px 0px;
    }
}
@media (max-width: 785px) {
    .copyright {
        font-size: 14px;
    }
}
@media (max-width: 670px) {
    .copyright {
        font-size: 12px;
    }
}
@media (max-width: 570px) {
    .copyright {
        font-size: 10px;
    }
    .copyright a {
        border-bottom-width: 1px;
    }
}
@media (max-width: 481px) {
    .copyright {
        font-size: 9px;
    }
}
@media (max-width: 437px) {
    .copyright {
        font-size: 8px;
    }
}
@media (max-width: 393px) {
    .copyright {
        font-size: 7px;
    }
}
@media (max-width: 349px) {
    .copyright {
        font-size: 6px;
    }
}
